%h1 Questions

= error_messages_for :question

= form_for [:admin, Question.new] do |f|
  = render f
  %p= f.submit 'Create'

%table
  %tr
    %th Prompt
  - for question in @questions
    %tr
      %td= link_to question.prompt, [:admin, question]
      
= will_paginate @questions